Source: libicd-network-ofono
Priority: optional
Maintainer: Ivaylo Dimitrov <ivo.g.dimitrov.75@gmail.com>
Build-Depends: debhelper (>> 3.0.0), autotools-dev,
 libglib2.0-dev, libgconf2-dev, libgofono-dev, libglibutil-dev,
 icd2-dev, icd2-osso-ic-dev, libconnui-dev, ofono-dev
Standards-Version: 3.7.2
Section: net

Package: libicd-network-ofono
Section: net
Architecture: any
Depends: icd2, udhcpc, ${shlibs:Depends}
Description: ICd2 OFONO network configuration module
 ICd2 OFONO network configuration module
